server:
  port: 8080

# --- ACTUATOR ---
management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    ldap:
      enabled: false
feign:
  client:
    config:
      default:
        loggerLevel: full
spring:
  application:
    name: application-name
    version: 1.0.0
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  flyway:
    baselineOnMigrate: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5555}/${DB_NAME:db}
    username: ${DB_USER:admin}
    password: ${DB_PWD:admin}
  data:
    web:
      pageable:
        one-indexed-parameters: true
        default-page-size: 10
  jpa:
    database: POSTGRESQL
    show-sql: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  security:
    resourceserver:
      jwt:
        issuer-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}
        jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
logging:
  level:
    #    root: DEBUG
    org:
      hibernate:
        SQL: INFO
        orm:
          jdbc:
            bind: INFO
      springframework:
        web:
          client:
            RestTemplate: DEBUG
          security: trace
  file:
    name: logs/${POD_NAME:logs}.log
  pattern:
    dateformat: dd-MM-yyyy HH:mm:ss
  logback:
    rollingpolicy:
      max-file-size: 50MB
      max-history: 183
auth:
  whitelist:
    /v2/**
    /actuator/**
    /v3/**
    /swagger-resources/**
    /swagger-ui/**
    /
    /auth/**
services:
  custom-svc: http://localhost:8081
keycloak-client:
  server-url: http://keycloak.udptest.cloudns.nz
  realm: MPBE
  client-id: ${CLIENT_ID_KEYCLOAK:client_id}
  client-secret: ${CLIENT_SECRET_KEYCLOAK:secret}
  issuer-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}
  auth-url: /realms/${keycloak-client.realm}/protocol/openid-connect/token